/*
C L A S E S __ E N __ M O  D I F I C A C I Ó N
♡ .footer
*/
/* E s t i l o s __ V a r i a b l e s */
@import "variables";
/* E D I C I Ó N    F O O T E R*/
.footer {
    .container {
        h3{
            color: $colorPrimarioSalvandoHuellitas !important;
          }
          p{
              color: $colorSecundarioSalvandoHuellitas !important;
              font-style: italic;
              font-weight: 600;
          }
    }
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    background-color: $footer-background-color;
    color: $footer-color-fuente;
}
