/* T A G ' S  __ E N __ M O D I F I C A C I Ó N
♥ <body>
♥ <h1>
*/
/* E s t i l o s __ V a r i a b l e s */
@import "variables";
/* E D I C I Ó N      B O D Y*/
body {
    font-family: 'Josefin Sans';
    font-weight: 200;
}
/* E D I C I Ó N      H 1*/
h1 {
    font-family: 'Josefin Sans';
    color: $colorPrimarioSalvandoHuellitas;
    font-weight: 800;
    letter-spacing: 2px;
}
/* E D I C I Ó N      H 2*/
h2 {
    font-family: 'Josefin Sans';
    color: $colorSecundarioSalvandoHuellitas;
    font-weight: 800;
    letter-spacing: 2px;
}
/* E D I C I Ó N      H 3*/
h3 {
    font-family: 'Josefin Sans';
    font-weight: 600;
    letter-spacing: 2px;
}
/* E D I C I Ó N      H 5*/
h5 {
    font-family: 'Josefin Sans';
    font-weight: 500;
    letter-spacing: 2px;
}


