/* V A R I A B L E S */
/* C O L O R E S __ S A L V A N D O __ H U E L L I T A S*/
$colorPrimarioSalvandoHuellitas: rgb(250, 219, 199) ;
$colorSecundarioSalvandoHuellitas: rgb(255, 204, 153) ;
$footer-color-fuente: #fff;
$footer-background-color:  rgb(194, 131, 120);
$footer-padding-top: 5rem;
$footer-padding-bottom:5rem;
$pageSize: 1200;
