a:hover {
  color: #c5cfcd;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 1rem;
  align-content: center;
}

.btn-primary {
  color: #fff;
  background-color: black;
  border-color: blackc;
}
.btn-primary:hover {
  color: black;
  background-color:white;
  border-color:black;
}

.nav-item{
  text-align: center;
}

.btn-center{
  align-items: center;
  text-align: center; 
}

.bg-primary {
  background-color: white !important;
}

.bg-buscando{
  background-color: #FFC0CB !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: black !important;
  color: white !important;
}

.bg-secondary {
  background-color: #F88379 !important;
}

.text-secondary {
  color: white !important;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 1rem;
  border-color: black !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: black !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #000;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #000 !important;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  align-content: center;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: white;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: black;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: black;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: black;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: black;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
  color: #FFF;
}

.portfolio-item-color{
  color:#21253D;
}