/* T A G ' S  __ E N __ M O D I F I C A C I Ó N
♥ h1 (Hover)

C L A S E S __ E N __ M O  D I F I C A C I Ó N
♡ .masthead
♡ .divider-custom-icon
*/
/* C O L O R E S __ S A L V A N D O __ H U E L L I T A S*/
$colorPrimarioSalvandoHuellitas: rgb(250, 219, 199) ;
$colorSecundarioSalvandoHuellitas: rgb(255, 204, 153) ;
/* E D I C I Ó N    M A S T  H E A  D ___  D I V I D E R - C U S  T O M - I C O N*/
.masthead {
    display: flex;
    &:hover {
        h1 {
             color: black; 
             transition: color 3s ease-out;
        }
        .divider-custom-icon {
                font-size: 50px;
                transition: font-size .5s ease-out;
        }
    }
}